@model IEnumerable<WebApplication1.Course>

@{
    ViewData["Title"] = "Course Index";
}

<h1>Course Index</h1>


<p>Total number of course: @ViewBag.Count</p>
<table class="table">
    <thead>
        <tr>
            <th>CID</th>
            <th>CName</th>
            <th>CFee</th>
            <th>Technology</th>
            <th>Status</th>

           

                @Html.DisplayNameFor(model => model.CName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technology)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

                <td>@Course.CID</td>
                <td>@Course.CName</td>
                <td>@Course.CFee</td>
                <td>@Course.Technology</td>
                <td>@Course.Status</td>

                @Html.DisplayFor(modelItem => item.CName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technology)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
